
.text-center{
  margin-top: 30px;
}
img{
vertical-align: middle;
 width: 300px;
height: 300px;
 border-radius: 50%;

}
.content{
  margin-top: 50px;
}
.repos{
  margin-top: 50px;
}
.cards.repocard{
  border: 1px solid #d8d4d4;
   border-radius: 5px;
   padding-bottom: 5px;
   margin-bottom: 15px;
}
.inline{
  display: inline;
  color:blue;
}
.repo-title{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: blue;
}
.name{
  color: blue;
}
