
<div class="container">
<div >
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search" [(ngModel)]="userName" name = "userName" (keyup)= "searchUser()" >
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit"> <i class="fas fa-search"></i>Search</button>
  </form>
</div>
<div class="content">

    <div class="row">
    <div class="col-sm-4">
        <img src="{{user.image}}" class="img-circle img-responsive" >
    </div>
    <div class="col-sm-4" >
    <div class= "cards">
    <div class="card-heading">
          User name:<p class="inline"><strong>{{user.name}}</strong></p>
    </div>
    <div class="card-body">
              <p>Bio: {{user.bio}}</p>
              <p>Hireable: {{user.hireable}}</p>
              <p>Company: {{user.company}}</p>
              <p>Date created: {{user.created_at}}</p>
     </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div>
            <p>
            <span class="badge badge-primary">followers {{user.followers}}</span>

            <span class="badge badge-info"> following {{user.following}}</span>

            <span class="badge badge-success"> repositories {{user.repositories}}</span>
            </p>

    </div>

    </div>
    <div style="text-align:center">
    <div class="repo-title">
      <h3>{{user.name}}'s repositories</h3>
    </div>
    </div>
    <div class="repos">

<div class="row">

  <div class="col-md-6" *ngFor='let repo of gitRepo.newRepo'>

    <div class="cards repocard">

      <div class="card-header">

        <h5 class="card-title">
          {{repo.name}}
        </h5>
      </div>
        <div class="card-body">
          <p>
            <span class="name">Description:</span> {{repo.description}}
          </p>
          <p>
            <span class="name"> Date created:</span> {{repo.created_at}}
          </p>
          <p>
              <a href="{{repo.html_url}}">click here to view the repository</a>
          </p>
          </div>
</div>
</div>
</div>
</div>
</div>
</div>
